fastapi==0.110.0
uvicorn==0.30.1
torch==2.5.1+cpu
torchvision==0.20.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
numpy==1.26.4
pillow==10.4.0
diffusers==0.26.3
transformers==4.37.2
accelerate==0.29.3
safetensors==0.4.2
python-multipart==0.0.9
pyyaml==6.0.1
tokenizers==0.15.2
